<!doctype html>
<html>
<head>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <script type="text/javascript" src="/static/js/d3.layout.cloud.js"></script>
  <script type="text/javascript" src="/static/js/index.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
  <header class="navbar navbar-static-top" role="banner">
    <div class="jumbotron" id="flyer">
      <div class="container">
      <h1>Reliability Lens</h1>
      <p>Explore users on Twitter here!</p>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-8">
      <div class="input-group">
        <input id="username-input" type="text" class="form-control" placeholder="Username...">
        <span class="input-group-btn">
          <button id="analyze-btn" class="btn btn-primary" type="button">Analyze!</button>
        </span>
      </div>
      </div>
    </div>

    <div class="tips">
      <div class="row">
        <p id="welcome-text">Input the username and press analyze to start.</p>
        <p id="loading-text" style="display:none;">Analyzing...</p>
      </div>
    </div>

    <div id="no-result" class="tips" style="display:none;">
      <div class="row">
        <p>No result available.</p>
      </div>
    </div>

    <div id="result" style="display:none;">
      <div class="row">
        <span id="rating">10</span>
      </div>

      <div class="row">
        <h2>Statistics</h2>
        <div class="col-md-6">
        <ul id="statistics" class="list-group">
          <li class="list-group-item">place holder</li>
        </ul>
        </div>
      </div>

      <div class="row">
        <h2>Top words</h2>
        <div id="word-cloud"></div>
      </div>

      <div class="row">
        <h2>Friends</h2>
        <div id="friend-graph"></div>
      </div>

    </div>

  </div>
</body>
</html>